/*.advantages-list__item--true,
.advantages-list__item--bridge {
    background-color: @color-main;
    color: @white;
}*/

.advantages-list__item {
    background-color: @color-main;
    color: @white;
  &--small,
  &--road,
  &--empty {
    background-color: #eeeeee;
    color: @black;
}
}
