.advice {
  margin-top: 36px;
  margin-bottom: 37px;
}

.advice__item {
  margin-bottom: 28px;
}

.advice__title {
  margin: 0;

  font-size: 18px;
}

.advice__list {
  padding-right: 20px;
  padding-left: 70px;

  list-style: none;
  text-align: left;
}

.advice__description {
  line-height: 21px;
}

@media (min-width: @tablet-width) {
  .advice__list {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0;
    padding: 0;
    padding-top: 160px;

    text-align: center;
  }

  .advice {
    margin: 0;
    margin-bottom: 50px;
    padding-right: 10px;
  }

  .advice__item {
    display: inline-block;
    margin: 0;
    padding: 0 32px;

    vertical-align: middle;
    &--accomodation {
      order: 1;
    }
    &--food {
      order: 2;
    }
    &--souvenirs {
      order: 3;
    }
  }

  .advice__title {
    margin-bottom: 20px;

    font-size: 21px;
  }
}

@media (min-width: @desktop-width) {
  .advice {
    margin-bottom: 70px;
    padding-right: 20px;
  }
  .advice__item {
    display: inline-block;
    margin: 0;
    padding: 0 55px;

    vertical-align: middle;
    &--accomodation {
      padding-left: 60px;
    }
    &--food {
      padding-right: 50px;
      padding-left: 60px;
    }
    &--souvenirs {
      padding-left: 85px;
    }
  }
  .advice__title--food {
    padding-left: 8px;
  }
}
