.advice__item {
  padding: 35px 20px 0 70px;

  &--accomodation {
    background: url(../img/icon-house.svg) no-repeat;
    background-position: 20px 23px;
    background-size: 40px;
  }

  &--souvenirs {
    padding-top: 25px;

    background: url(../img/icon-gift.svg) no-repeat;
    background-position: 25px 15px;
    background-size: 32px;
  }

  &--food {
    padding-top: 28px;
    padding-bottom: 40px;

    background: url(../img/icon-burger.svg) no-repeat;
    background-position: 20px 23px;
    background-size: 38px;
  }
}

.advice__title {
  margin: 0;
  margin-bottom: 14px;

  font-size: 18px;
}

.advice__list {
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: left;
}

.advice__description {
  margin: 0;

  line-height: 21px;
}

@media (min-width: @tablet-width) {
  .advice__list {
    display: flex;
    width: 100%;

    text-align: center;
  }

  .advice__item {
    margin: 0;
    padding: 0;
    padding: 160px 40px 60px;

    &--accomodation {
      order: 1;
      padding-right: 30px;
      background-position: 90px 60px;
      background-size: 75px;
    }

    &--food {
      order: 2;
      background-position: 92px 60px;
      background-size: 77px 72px;
    }

    &--souvenirs {
      order: 3;
      background-position: 86px 60px;
      background-size: 65px 74px;
    }
  }

  .advice__title {
    margin-bottom: 20px;

    font-size: 21px;
  }

  .advice__description {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .advice__item {
    display: inline-block;
    margin: 0;
    padding: 160px 70px 85px;

    vertical-align: middle;

    &--accomodation {
      padding-left: 55px;
      background-position: 160px 60px;
    }

    &--food {
      padding-right: 50px;
      padding-left:30px;
      background-position: 145px 60px;
    }

    &--souvenirs {
      padding-left: 75px;
      background-position: 170px 60px;
    }
  }

  .advice__title--food {
    padding-left: 8px;
  }
}
