.button {
  display: inline-block;
  padding: 16px 46px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: center;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @color-main;
}

.button--hotels {
  margin-top: 17px;
}

@media (min-width: @tablet-width) {
  .button {
    &--hotels {
      margin-top: 25px;
      margin-bottom: 60px;
      padding: 16px 135px;
    }
    &--feedback {
      padding: 16px 73px 16px 67px;
    }
  }
  .button__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .button__wrapper {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
  }

  .button {
    &--hotels {
      margin-top: 29px;
      margin-bottom: 67px;
    }
    &--feedback {
      padding: 16px 146px 16px 147px;
    }
  }
}
