.button {
  display: inline-block;
  vertical-align: center;
  color: @white;
  background-color: @color-main;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  padding: 16px 46px;
}