.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 129px;
  margin: 0 auto;
}

.copyright__text {
  display: inline-block;

  vertical-align: middle;
}

.copyright__icon {
  display: inline-block;

  vertical-align: middle;

  fill: @black;

  &:hover,
  &:focus {
    fill: @color-main;
  }

  &:active {
    fill: #b2b2b2;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    margin: 0;
    width: 33%;
    justify-content: flex-end;
  }

  .copyright__text {
    margin: 0;
    margin-right: 12px;
  }
}
