.feedback-wrapper {
  margin: 0;
  padding: 0 20px;

  border: none;

  &--name {
    padding-top: 22px;

    border-bottom: 1px solid @color-grey;
  }

  &--contact {
    padding-top: 20px;
    padding-bottom: 5px;

    border-bottom: 1px solid @color-grey;
  }

  &--impression {
    padding-top: 18px;
    padding-bottom: 15px;

    border-bottom: 1px solid @color-grey;
  }

  &--sights {
    padding-top: 18px;
    padding-bottom: 12px;

    border-bottom: 1px solid @color-grey;
  }

  &--text {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

@media (min-width: @tablet-width) {
  .feedback-wrapper {
    width: 324px;
    margin: 0;
    padding: 0;

    border: none;

    &--impression {
      order: -1;
    }

    &--contact {
      width: 648px;
      padding: 0;
      padding-top: 45px;
    }

    &--name {
      box-sizing: border-box;
      padding-left: 55px;
    }

    &--sights {
      width: 648px;
      padding: 28px 0 40px;
    }

    &--text {
      width: 648px;
      padding-bottom: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .feedback-wrapper {
    &--impression {
      width: 480px;
    }

    &--name {
      box-sizing: border-box;
      width: 480px;
      padding-left: 80px;
    }

    &--contact {
      width: 960px;
      margin: 0 auto;
      padding-top: 42px;
    }

    &--sights {
      width: 960px;
      padding-bottom: 15px;
    }

    &--text {
      width: 960px;
      margin: 0 auto;
      padding-top: 55px;
      padding-bottom: 30px;
    }
  }
}
