.feedback-wrapper {
  margin: 0;
  padding: 0 20px;

  border: none;

  &--name {
    padding-top: 22px;

    border-bottom: 1px solid @color-grey;
  }

  &--contact {
    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid @color-grey;
  }

  &--impression {
    padding-top: 20px;
    padding-bottom: 0;

    border-bottom: 1px solid @color-grey;
  }

  &--sights {
    padding-top: 30px;
    padding-bottom: 0;

    border-bottom: 1px solid @color-grey;
  }

  &--text {
    padding-top: 20px;
    padding-bottom: 48px;
  }
}

@media (min-width: @tablet-width) {
  .feedback-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 324px;
    margin: 0;
    padding: 0;

    border: none;

    &--impression {
      order: -1;
    }

    &--contact {
      width: 100%;
      padding-top: 65px;
      padding-bottom: 25px;
    }

    &--name {
      padding-left: 55px;
    }

    &--sights {
      width: 100%;
      padding: 20px 65px 25px 65px;
    }

    &--text {
      padding-top: 10px;
      padding-bottom: 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .feedback-wrapper {
    &--impression {
      width: 480px;
      padding-left: 55px;
    }

    &--name {
      width: 480px;
      padding-left: 105px;
    }

    &--contact {
      width: 960px;
      padding: 0 60px;
      padding-top: 65px;
    }

    &--sights {
      box-sizing: content-box;
      width: 960px;
      padding: 0 60px;
      padding-top: 40px;
    }

    &--text {
      width: 960px;
      margin: 0 auto;
      padding: 0 60px;
      padding-bottom: 38px;
    }
  }
}
