.feedback-form {
  padding-bottom: 45px;
}

.feedback-form__list,
.feedback-form__list--sights {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feedback-form__list--sights {
  position: relative;

  margin-bottom: 10px;
  padding: 16px 17px 27px 85px;

  text-align: left;

  &:last-child {
    margin-bottom: 15px;
  }
}

.feedback-form__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 18px;

  &--impression {
    margin-bottom: 20px;
  }

  &--sights {
    margin-bottom: 15px;
  }

  &--textarea,
  &--feedback {
    margin-bottom: 25px;
  }
}

.feedback-form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 280px;
  margin: 0;
  margin-bottom: 20px;

  &--contact {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  &--textarea {
    margin-bottom: 0;
  }

  &--name {
    width: 260px;
  }
}

.feedback-form__field {
  flex-grow: 1;
  min-width: 1px;
  padding: 15px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
  cursor: pointer;

  &::placeholder {
    font-weight: bold;
    font-size: 18px;
    color: @black;
  }

  &:hover,
  &:focus {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: @white;
    box-shadow: inset 0 3px 0 0 #bfbfbf;
  }
}

.feedback-form__label {
  &--contact {
    margin-bottom: 8px;
    padding-left: 20px;
  }

  &--name {
    margin-right: 5px;
  }
}

.feedback-form__line {
  position: relative;

  padding: 16px 17px 27px 78px;
}

.feedback-form__input--radio + label::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 5px;

  display: inline-block;
  width: 55px;
  height: 55px;
  margin-right: 10px;

  vertical-align: middle;

  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
}

  .feedback-form__input--radio + label:hover::before,
  .feedback-form__input--checkbox + label:hover::before,
  .feedback-form__input--radio + label:focus::before,
  .feedback-form__input--checkbox + label:focus::before {
    background-color: #e5e5e5;
  }

  .feedback-form__input--radio + label:active::before,
  .feedback-form__input--checkbox + label:active::before {
    background-color: #d5d5d5;
  }

.feedback-form__input--radio:checked + label::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 5px;

  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;

  vertical-align: middle;

  background-color: @black;
  border: 17px solid #f2f2f2;
  border-radius: 50%;
}

.feedback-form__input--radio:checked + label:hover::before,
.feedback-form__input--radio:checked + label:focus::before {
  border: 17px solid #e5e5e5;
}

.feedback-form__input--radio:checked + label:focus::before {
  border: 17px solid #d5d5d5;
}

.feedback-form__input--radio:checked + label:active::before {
  border: 17px solid #d5d5d5;
  background-color: #a4a4a4;
}

.feedback-form__input--checkbox + label::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;

  display: inline-block;
  width: 55px;
  height: 55px;

  vertical-align: middle;

  background-color: #f2f2f2;
  border-radius: 10%;
}

.feedback-form__input--checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 16px;
  left: 17px;
  top: 25px;
  background: url(../img/icon-tick.svg) no-repeat;
}

.feedback-form__input--checkbox:checked + label:active::after {
  opacity: 0.3;
}

.feedback-form__list--container {
  margin: 0;
  padding: 0;
}

.feedback-form__label--radio,
.feedback-form__label--checkbox {
  font-weight: bold;
  font-size: 18px;
  text-transform: none;
}

.feedback-form__textarea {
  width: 275px;
  min-height: 155px;
  padding: 12px 17px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: none;

  resize: none;
  cursor: pointer;

  &::placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: @black;
  }

  &:hover,
  &:focus {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: @white;
    box-shadow: inset 0 3px 0 0 #bfbfbf;
  }
}

.feedback-form__obligatory {
  display: none;
}

@media (min-width: @tablet-width) {
  .feedback-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 60px 30px;

    &--bottom {
      display: flex;
      justify-content: space-between;
    }
  }

  .feedback-form__list--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .feedback-form__list {
    &--sights {
      box-sizing: border-box;
      width: 50%;
      margin: 0;
      padding-left: 110px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .feedback-form__title {
    margin-bottom: 48px;

    font-size: 21px;

    &--impression {
      margin-bottom: 55px;

      text-align: left;
    }

    &--name {
      margin-bottom: 55px;

      text-align: left;
    }

    &--contact {
      margin: 0 auto;
      margin-bottom: 25px;
    }

    &--contact::before {
      margin: 0 auto;
      margin-bottom: 25px;
    }

    &--sights {
      width: 290px;
      margin: 0 auto;
      margin-bottom: 40px;
    }

    &--feedback {
      margin-bottom: 0;
    }

    &--textarea {
      margin-bottom: 55px;
    }
  }

  .feedback-form__input--checkbox + label::before {
    position: absolute;
    top: 0;
    left: 30px;

    margin-right: 20px;
  }

  .feedback-form__line {
    padding-left: 35px;
  }

  .feedback-form__label {
    &--name {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      padding-right: 10px;
    }

    &--contact {
      padding-left: 20px;
    }
  }

  .feedback-form__field--name {
    flex-grow: 1;
    overflow: hidden;
  }

  .feedback-form__field--contact {
    box-sizing: border-box;
    width: 648px;
  }

  .feedback-form__obligatory {
    display: inline-block;
    margin: 0;

    vertical-align: top;
    color: @color-grey;
  }

  .feedback-form__item {
    &--textarea {
      padding: 0;
      width: 648px;
    }

    &--name {
      box-sizing: border-box;
      width: 267px;
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
    }

    &--contact {
      margin-bottom: 15px;
      padding: 0;
    }
  }

  .feedback-form__list--radio {
    position: relative;
  }

  .feedback-form__list--radio::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -15px;

    width: 1px;
    height: 292px;

    background-color: #dbdbdb;
  }

  .feedback-form__textarea {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form {
    padding-bottom: 70px;
  }

  .feedback-form--contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
  }

  .feedback-form__title {
    &--impression {
      padding-left: 85px;
    }

    &--contact {
      margin-bottom: 75px;
    }
  }

  .feedback-form__label {
    &--radio {
      padding-right: 70px;
      padding-left: 0;
    }

    &--hide {
      display: none;
    }

    &--contact {
      display: block;
      margin: 0;
      margin-right: 15px;
      padding: 0;

      text-align: left;
    }

    &--checkbox {
      position: relative;

      cursor: pointer;
    }
  }

  .feedback-form__input--checkbox + label::before {
    position: absolute;
    top: -13px;
    left: -75px;

    margin-right: 20px;
  }

  .feedback-form__field {
    &--name {
      max-width: 350px;
    }

    &--contact {
      max-width: 318px;
    }
  }

  .feedback-form__item {
    &--contact {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      width: 480px;
    }

    &--name {
      width: 400px;
    }

    &--textarea {
      width: 960px;
    }
  }

  .feedback-form__list--sights {
    justify-content: space-between;
    width: 25%;
    margin: 0;
    padding-left: 105px;

    &:first-child {
      padding-left: 80px;
    }

    &:last-child {
      margin: 0;
      padding-right: 0;
      padding-left: 115px;
    }
  }

  .feedback-form__list--radio {
    position: relative;
  }

  .feedback-form__list--radio::after {
    content: "";
    position: absolute;
    right: -60px;
    bottom: -15px;

    width: 1px;
    height: 292px;

    background-color: #dbdbdb;
  }

  .feedback-form__textarea {
    width: 960px;
  }
}
