.feedback-form {
  margin-bottom: 70px;
}

.feedback-form__list,
.feedback-form__list--sights {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feedback-form__list--sights {
  position: relative;

  margin-bottom: 53px;
  padding-left: 85px;

  text-align: left;

  &:last-child {
    margin-bottom: 40px;
  }
}

.feedback-form__title {
  margin-bottom: 15px;

  font-weight: bold;
  font-size: 18px;

  &--impression {
    margin-bottom: 35px;
  }

  &--sights {
    margin-bottom: 25px;
  }

  &--textarea,
  &--feedback {
    margin-bottom: 0;
  }
}

.feedback-form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
  padding: 0 8px;

  &--contact {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
}

.feedback-form__field {
  width: 192px;
  min-height: 56px;

  background-color: #f2f2f2;
  border: none;

  &--long {
    width: 230px;
  }

  &--contact {
    width: 222px;
  }

  &::placeholder {
    padding-left: 20px;

    font-weight: bold;
    font-size: 18px;
    color: @black;
  }
}

.feedback-form__label {
  &--contact {
    margin-bottom: 8px;
    padding-left: 20px;
  }

  &--radio {
    padding-left: 55px;
  }
}

.feedback-form__line {
  position: relative;

  margin-bottom: 42px;
}

.feedback-form__input--radio + label::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 5px;

  display: inline-block;
  width: 55px;
  height: 55px;
  margin-right: 10px;

  vertical-align: middle;

  background-color: #f2f2f2;
  border-radius: 50%;
}

.feedback-form__input--radio:checked + label::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 5px;

  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;

  vertical-align: middle;

  background-color: @black;
  border: 17px solid #f2f2f2;
  border-radius: 50%;
}

.feedback-form__input--checkbox + label::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 5px;

  display: inline-block;
  width: 55px;
  height: 55px;
  margin-right: 10px;

  vertical-align: middle;

  background-color: #f2f2f2;
  border-radius: 10%;
}

.feedback-form__list--container {
  margin: 0;
  padding: 0;
}

.feedback-form__label--radio,
.feedback-form__label--checkbox {
  font-weight: bold;
  font-size: 18px;
  text-transform: none;
}

.feedback-form__textarea {
  width: 275px;
  min-height: 155px;

  background-color: #f2f2f2;
  border: none;

  resize: none;

  &::placeholder {
    padding: 12px 17px;

    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: @black;
  }
}

.feedback-form__obligatory {
  display: none;
}

@media (min-width: @tablet-width) {
  .feedback-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 93px;
    padding: 0 60px;

    &--bottom {
      display: flex;
      justify-content: space-between;
    }
  }

  .feedback-form__list--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .feedback-form__list--sights {
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 60px;
    padding-left: 110px;
  }

  .feedback-form__title {
    margin-bottom: 48px;

    font-size: 21px;

    &--impression {
      margin-bottom: 75px;

      text-align: left;
    }

    &--name {
      margin-bottom: 40px;
      padding-left: 35px;

      text-align: left;
    }

    &--contact {
      margin: 0 auto;
      margin-bottom: 25px;
    }

    &--contact::before {
      margin: 0 auto;
      margin-bottom: 25px;
    }

    &--sights {
      width: 290px;
      margin: 0 auto;
      margin-bottom: 55px;
    }

    &--feedback {
      margin-bottom: 0;
    }

    &--textarea {
      margin-bottom: 45px;
    }
  }

  .feedback-form__input--checkbox + label::before {
    position: absolute;
    top: -13px;
    left: 30px;

    margin-right: 20px;
  }

  .feedback-form__line {
    margin-bottom: 50px;
  }

  .feedback-form__label {
    &--radio {
      padding-left: 10px;
    }

    &--name {
      display: flex;
      align-items: center;
      width: 267px;
      padding-right: 0;
      padding-left: 20px;
    }
  }

  .feedback-form__field {
    margin-bottom: 5px;
  }

  .feedback-form__field--name {
    flex-grow: 1;
    max-width: 216px;
    margin-left: 17px;
  }

  .feedback-form--contact-wrapper {
    box-sizing: border-box;
    width: 648px;
  }

  .feedback-form__item--contact {
    margin-bottom: 15px;
    padding: 0;
  }

  .feedback-form__field--contact {
    width: 100%;
  }

  .feedback-form__obligatory {
    display: inline-block;

    vertical-align: bottom;
    color: @color-grey;
  }

  .feedback-form__item {
    &--textarea {
      padding: 0;
    }

    &--name {
      padding: 0;
      padding-left: 15px;
    }
  }

  .feedback-form__list--radio {
    position: relative;
  }

  .feedback-form__list--radio::after {
    content: "";
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 1px;
    height: 292px;
    background-color: #dbdbdb;
  }

  .feedback-form__textarea {
    width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form {
    margin-bottom: 70px;
  }

  .feedback-form--contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
  }

  .feedback-form__title {
    &--impression {
      padding-left: 85px;
    }

    &--contact {
      margin-bottom: 75px;
    }
  }

  .feedback-form__label {
    &--radio {
      padding-right: 70px;
      padding-left: 0;
    }

    &--name {
      width: 400px;
    }

    &--hide {
      display: none;
    }

    &--contact {
      display: block;
      margin: 0;
      padding: 0;
      padding-right: 13px;

      text-align: left;
    }

    &--checkbox {
      position: relative;

      cursor: pointer;
    }
  }

  .feedback-form__input--checkbox + label::before {
    position: absolute;
    top: -13px;
    left: -75px;

    margin-right: 20px;
  }

  .feedback-form__field {
    &--name {
      max-width: 350px;
    }

    &--contact {
      width: 315px;
    }
  }

  .feedback-form__item {
    &--contact {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 50%;
    }
  }

  .feedback-form__list--sights {
    justify-content: space-between;
    width: 25%;
    margin-bottom: 55px;
    padding-left: 105px;

    &:first-child {
      padding-left: 80px;
    }

    &:last-child {
      padding-left: 115px;
    }
  }

  .feedback-form__list--radio {
    position: relative;
  }

  .feedback-form__list--radio::after {
    content: "";
    position: absolute;
    bottom: -15px;
    right: -60px;
    width: 1px;
    height: 292px;
    background-color: #dbdbdb;
  }

  .feedback-form__textarea {
    width: 960px;
  }
}
