.intro--index {
  position: relative;

  min-height: 390px;
  margin-bottom: 45px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 0;
}

.intro__image--index {
  padding-top: 89px;
}

.intro--photo {
  position: relative;

  min-height: 160px;
  margin-bottom: 45px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 100%;
}

.intro__image--photo {
  padding-top: 50px;
}

@media (min-width: @tablet-width) {
  .intro--index {
    min-height: 518px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
  }

  .intro--photo {
    min-height: 290px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
  }

  .intro__image--photo {
    width: 460px;
    height: 80px;
    padding-top: 95px;
  }
}
