.intro-index {
  min-height: 390px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 0;
  position: relative;
  margin-bottom: 45px;
}

.intro-index__image {
  padding-top: 89px;
}
