.intro--index {
  position: relative;

  min-height: 390px;
  margin-bottom: 45px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 0;
}

.intro__image--index {
  padding-top: 89px;
}

.intro--photo {
  position: relative;

  min-height: 160px;
  margin-bottom: 45px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 100%;
}

.intro__image--photo {
  padding-top: 50px;
}
