.main-nav {
    margin: 0;
    padding: 0;
}

.main-nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-nav__toggle {
    background-image: url(../img/icon-burger.svg) no-repeat 50% 50%;
    background-size: 23px 22px;
}

.main-nav__wrapper {
    margin-bottom: 57px;
}
