.map {
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .map__image {
    width: 768px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .map__image {
    width: 1200px;
  }
}
