.map {
  display: block;
}

@media (min-width: @tablet-width) {
  .map__image {
    width: 768px;
    height: 350px;
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .map__image {
    width: 1200px;
  }
}
