.multimedia__list {
  margin: 0;
  padding: 0 20px;

  list-style: none;
}

.multimedia__item {
  margin-bottom: 39px;

  text-align: left;
}

.multimedia__name {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-top: 9px;
}

.multimedia__author {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  margin: 0;
}

.multimedia__like-wrapper {
  display: flex;
}

.multimedia__like {
  border: none;
  vertical-align: center;
  width: 25px;
  height: 23px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 10px;
}

.multimedia__likes {
  font-weight: bold;
  margin: 0;
  padding-top: 5px;
}

@media (min-width: @tablet-width) {
  .multimedia {
    margin: 0 auto;
    padding: 0 40px;
  }

  .multimedia__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }

  .multimedia__item {
    background-color: #f2f2f2;
    margin: 0;
  }

  .multimedia__description {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 15px;
    &--small {
      padding: 0 30px 15px 20px;
    }
  }

  .multimedia__name {
    margin-top: 5px;
  }

  .multimedia__like-wrapper {
    padding-top: 12px;
  }

  .multimedia__image {
    width: 324px;
    height: 271px;

    &--sunset {
      width: 648px;
      height: 400px;
    }
  }
}

@media (min-width: @desktop-width) {
  .multimedia {
    padding: 0;
  }

  .multimedia__list {
    padding: 0;
    margin-bottom: 70px;
  }

  .multimedia__item {
    position: relative;
  }

  .multimedia__image {
    width: 400px;
    height: 270px;
    display: block;
    &--sunset {
      width: 1200px;
      height: 398px;
    }
  }

  .multimedia__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 20px 14px;
    &--small {
      padding-right: 30px;
    }
  }

  .multimedia__like {
    background-color: rgba(255, 255, 255, 0);
  }

  .multimedia__name,
  .multimedia__author,
  .multimedia__likes {
    color: @white;
  }
}
