.page-footer {
  width: 320px;
  margin: 0 auto;
}

.page-footer__wrapper {
  padding-top: 35px;
}

.page-footer__hashtag {
  display: inline-block;
  margin-bottom: 37px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 768px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 60px 20px 60px;
  }

  .page-footer__hashtag {
    margin-bottom: 0;
    width: 33%;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1200px;
  }

  .page-footer__wrapper {
    padding: 32px 120px 27px 120px;
  }
}
