.page-footer {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.page-footer__hashtag {
  display: inline-block;
  margin-bottom: 37px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 768px;
  }

  .page-footer__wrapper {
    display: flex;
    padding: 37px 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1200px;
  }

  .page-footer__wrapper {
    padding: 37px 120px;
  }
}
