.presentation__video {
  position: relative;
  padding-bottom: 45px;

  min-height: 263px;
}

.presentation__img {
  display: block;
}

.presentation__controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 44px;
  left: 20px;

  width: 280px;
}

.presentation__bar {
  position: relative;
  width: 280px;
  padding: 30px 15px 20px;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);

  &::before {
    content: "";
    position: absolute;
    bottom: 17px;
    left: 58px;
    width: 9px;
    height: 9px;
    background-color: @white;
    border-radius: 50%;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 22px;
    width: 235px;
    height: 3px;
    background-color: @white;
    opacity: 0.2;
  }
}

.presentation__button-icon {
  border: none;
  padding: 0;
  background-color: #f2f2f2;
  cursor: pointer;

  &--replay {
    margin-right: 135px;
  }

  &--subtitles {
    margin-right: 30px;
  }
}

.presentation__icons {
  padding: 19px 23px;
  display: flex;
  background-color: #f2f2f2;
}

.presentation__icon {
  fill: #5c6870;

  &:hover,
  &:focus {
    fill: #333333;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .presentation {
    margin: 0 auto;
  }

  .presentation__video {
    position: relative;
  }

  .presentation__img {
    width: 648px;
    height: 503px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .presentation__controls {
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 60px;

    width: 648px;
    padding: 22px 18px 10px 70px;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.6);
  }

  .presentation__bar {
    background-color: transparent;
    width: 486px;

    &::before {
      content: "";
      bottom: 27px;
      left: 135px;
    }

    &::after {
      width: 388px;
      bottom: 30px;
    }
  }

  .presentation__icons {
    background-color: transparent;
    position: relative;
  }

  .presentation__button-icon {
    background-color: transparent;

    &--replay {
      position: absolute;
      right: 580px;
      top: 14px;
      padding: 0;
      margin-right: 0;
    }
  }

  .presentation__icon {
    fill: @white;
  }

  .presentation__icon,
  .presentation__button-icon {
    &:hover,
    &:focus {
      fill: @white;
      fill-opacity: 0.6;
    }

    &:active {
      fill: @white;
      fill-opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .presentation__img {
    width: 800px;
    height: 503px;
  }

  .presentation__controls {
    position: absolute;
    bottom: 0;
    left: 200px;

    width: 800px;
    min-height: 94px;

    background-color: rgba(0, 0, 0, 0.6);
  }

  .presentation__button-icon {
    &--replay {
      right: 733px;
    }
  }

  .presentation__bar {
    background-color: transparent;
    width: 620px;

    &::before {
      content: "";
      bottom: 30px;
      left: 135px;
    }

    &::after {
      width: 540px;
    }
  }

  .presentation__video {
    padding-bottom: 0;
    margin-bottom: 85px;
  }
}
