.presentation__video {
  position: relative;

  min-height: 263px;
  padding-bottom: 45px;
}

.presentation__img {
  display: block;
}

.presentation__controls {
  position: absolute;
  bottom: 41px;
  left: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 280px;
}

.presentation__bar {
  position: relative;

  box-sizing: border-box;
  width: 280px;
  margin: 0;
  padding: 26px 15px 20px;

  background-color: rgba(0, 0, 0, 0.6);

  &::before {
    content: "";
    position: absolute;
    bottom: 17px;
    left: 58px;

    width: 9px;
    height: 9px;

    background-color: @white;
    border-radius: 50%;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 22px;

    width: 235px;
    height: 3px;

    background-color: @white;
    opacity: 0.2;
  }
}

.presentation__button-icon {
  padding: 0;

  background-color: #f2f2f2;
  border: none;
  cursor: pointer;

  &--replay {
    margin-right: 135px;
  }

  &--subtitles {
    margin-right: 30px;
  }
}

.presentation__icons {
  padding: 22px 0 16px;
  box-sizing: border-box;

  background-color: #f2f2f2;

   &--replay {
     width: 140px;
     padding-left: 25px;
   }

   &--fullscreen {
    width: 70px;
  }

  &--subtitles {
    width: 70px;
    padding-left: 35px;
  }
}

.presentation__icon {
  fill: #5c6870;

  &:hover,
  &:focus {
    fill: #333333;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .presentation {
    margin: 0 auto;
  }

  .presentation__video {
    position: relative;

    width: 648px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-bottom: 0;
  }

  .presentation__controls {
    position: absolute;
    bottom: 0;
    left: 0;

    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 33px 40px 15px 35px;

    background-color: rgba(0, 0, 0, 0.6);
  }

  .presentation__bar {
    width: 400px;

    background-color: transparent;

    &::before {
      content: "";
      bottom: 27px;
      left: 120px;
    }

    &::after {
      bottom: 30px;
      left: 10px;

      width: 388px;
    }
  }

  .presentation__icons {
    background-color: transparent;
    padding: 0;

    &--replay {
      order: -1;
      width: 16px;
    }

    &--subtitles { 
      width: 32px;
  }

  &--fullscreen { 
    width: 20px;
}
}

  .presentation__button-icon {
    background-color: transparent;
    margin: 0;

    &--replay {
      margin-right: 0;
      padding: 0;
    }
  }

  .presentation__icon {
    fill: @white;
  }

  .presentation__icon,
  .presentation__button-icon {
    &:hover,
    &:focus {
      fill: @white;
      fill-opacity: 0.6;
    }

    &:active {
      fill: @white;
      fill-opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .presentation__video {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 85px;
  }

  .presentation__controls {
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.6);
  }

  .presentation__button-icon {
    &--replay {
      right: 733px;
    }
  }

  .presentation__bar {
    width: 545px;

    background-color: transparent;

    &::before {
      content: "";
      bottom: 27px;
      left: 120px;
    }

    &::after {
      left: 5px;
      width: 540px;
    }
  }
}
