.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
}

.social__list {
  display: flex;
  justify-content: space-between;
  min-width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  margin-right: 5px;

  background-color: @color-main;
}

.social__logo {
  vertical-align: middle;
  text-align: center;

  fill: @white;
}
