.social {
  width: 155px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__list {
  min-width: 140px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social__item {
  background-color: @color-main;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__logo {
  fill: @white;
  text-align: center;
  vertical-align: middle;
}
