.text-block {
  padding: 0 30px;

  &--advantages {
    padding-top: 40px;
    padding-bottom: 13px;
  }

  &--hotels {
    padding: 0 20px;
    padding-top: 27px;
    padding-bottom: 50px;
  }

  &--presentation {
    padding-top: 12px;
    padding-bottom: 35px;
  }

  &--photo,
  &--form {
    padding: 35px 23px 27px;

    border-bottom: 1px solid @color-grey;
  }

  &--wrong {
    z-index: 104;

    padding: 45px 55px 35px 55px;
  }

  &--success {
    padding-bottom: 45px;
  }
}

.text-block__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 18px;
  vertical-align: middle;

  &--interest {
    margin-bottom: 20px;

    font-size: 21px;
  }

  &--presentation {
    margin-bottom: 10px;
  }

  &--success {
    padding: 45px 40px 0 40px;
  }
}

.text-block__intro {
  margin: 0;

  line-height: 26px;

  &--hotels {
    margin-bottom: 35px;

    line-height: 24px;
  }

  &--photo,
  &--form {
    margin: 0;

    line-height: 24px;
  }

  &--wrong {
    margin-bottom: 35px;
  }

  &--success {
    margin-bottom: 35px;
    padding: 0 40px;
  }
}

@media (min-width: @tablet-width) {
  .text-block {
    width: 520px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;

    &--photo {
      padding: 75px 30px 70px;
      border: none;
    }

    &--hotels {
      padding-top: 57px;
      padding-bottom: 60px;
    }

    &--form {
      padding-top: 75px;
      padding-bottom: 60px;

      border: none;
    }

    &--advantages {
      padding: 50px 10px;
    }

    &--presentation {
      padding-top: 66px;
      padding-bottom: 70px;
    }

    &--success {
      padding-top: 60px;
      padding-right: 115px;
      padding-left: 115px;
    }
  }

  .text-block__intro {
    &--hotels {
      display: inline-block;

      vertical-align: middle;
      margin-bottom: 45px;
    }

    &--success {
      padding: 0;
    }
  }

  .text-block__title {
    font-size: 21px;

    &--photo,
    &--doubt,
    &--form {
      margin-bottom: 30px;

      font-size: 30px;
    }

    &--interest {
      margin-bottom: 30px;

      font-size: 30px;
    }

    &--success {
      padding: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .text-block {
    &--photo {
      padding-top: 115px;
    }

    &--hotels {
      padding: 85px 30px 65px;
    }
  }

  .text-block__intro {
    &--hotels {
      margin-bottom: 47px;
    }

  .multimedia__description--small {
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
}