

body {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: "PT sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: @black;
    min-width: 320px;
    text-align: center;
}
a {
    text-decoration: none;
}